<template name="promotion">
	<div id="container-index" style="background-color:#fff;">
	    <div class="container-fluid"> 

	    	<div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">
                      Foi convidado para ser um <span style="font-family: 'sl'; color: #FF5629;">cliente satisfeito</span> <small>aceite a campanha para ganhar a oferta</small>
                  </h1>
              </div>
           </div>
			
			<div class="row">
                  <div class="col-lg-10 col-md-offset-1">
                  	<div class="panel panel-default promo-panel">
						<div class="panel-heading promo-heading">
                        	<div class="media">
                          		<span class="pull-left">
                              		<img class="media-object img-rounded" src="http://graph.facebook.com/{{promotion.account.id}}/picture" alt="{{promotion.account.name}} profile picture">
                          		</span>
                          		<div class="media-body">
                                    <div>
                                  		<h2 class="media-heading"><strong>{{promotion.account.name}}</strong></h2>
                                    </div>
                          		</div>
                      		</div>
                      	</div>
                    	<div class="panel-default">
	                        <div class="panel-body">  
	                        	<div class="well">
								    <div class="media">
			                      		<span class="pull-left">
			                      			{{#if campaign.imageId}}
					                          	<img class="media-object img-rounded" src="{{c.url campaign.imageId width=50 height=50 crop='lfill' gravity='center'}}">
						                      {{else}}
						                          <img class="media-object img-rounded" src="http://cdn.clientesatisfeito.pt/img/logo140.jpg" width="50" height="50" alt="" />
						                      {{/if}}
			                      		</span>
			                      		<div class="media-body">
			                                <div>
			                              		<h4 class="media-heading"><strong>{{campaign.name}}</strong></h4>
                                  				<h5 class="media-heading">
                                  					{{#if campaign.description}}
					              						{{campaign.description}}
					              					{{else}}
					              						&nbsp;
					              					{{/if}}</h5>
			                                </div>
			                      		</div>
			                  		</div>
			                  	</div>
								{{#if currentUser}}
									{{#if currentUser.profile.admin}}
										<p>Não pode reclamar ofertas usando a conta de {{currentUser.profile.activeAccount.name}}</p>
										<p><button id="customer-mode" type="button" class="btn btn-default navbar-btn sign-in">Usar o Cliente Satisfeito como {{currentUser.profile.name}}</button></p> 
									{{else}}
										{{#if isOwner}}
											{{#if isExpired}}
			                  					<p>Obrigado!</p>
			                  					<p>Pode usar o seguinte código para reclamar a sua oferta: <b>{{promotion.hash}}</b></p>
			                  				{{else}}
												{{> promotionMain}}
											{{/if}}
										{{else}}
											{{#if promotion.ownedBy}}
												<p>Esta promoção já foi reclamada</p>
											{{else}}
												<p>O Cliente Satisfeito permite-lhe partilhar uma fotografia a pedido de um vendedor ao qual comprou um produto.<br />Se estiver interessado use o botão abaixo:</p>
												<p><button id="claim" type="button" class="btn btn-default navbar-btn sign-in">Reclamar promoção</button></p> 
											{{/if}}
										{{/if}}
									{{/if}}
								{{else}}
									<ul class="list-inline intro-social-buttons">
										<li>
											<a id="login" class="btn btn-block btn-social btn btn-facebook" style="font-family: arial, sans-serif;font-weight: bold;"><i class="fa fa-facebook"></i>Iniciar sessão com Facebook para reclamar esta oferta</a>
										</li>
									</ul>       
									<h5><small>Ao iniciar sessão está a concordar com os <a data-toggle='modal' data-target='#termsofuse' style="cursor:pointer">Termos de Utilização</a></small></h5>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- /.container -->
		</div>
	</div>
	{{> termsofuse}}
</template>