<template name="campaign">
	{{#if isOwner}}
		<div id="container-admin">

	        <div class="container-fluid">

	            <!-- Page Heading -->
	            <div class="row">
	                <div class="col-lg-12">
	                    <h1 class="page-header">
	                        {{name}} <small>estatísticas</small>
	                    </h1>
		                <ol class="breadcrumb">
				            <li>
				                <i class="glyphicon glyphicon-list-alt"></i>  <a href="{{pathFor 'campaignList'}}">Campanhas</a>
				            </li>
				            <li class="active">
				                <i class="glyphicon glyphicon-signal"></i> {{name}}
				            </li>
				        </ol>
		        	</div>
	            </div>

	            <div class="row">
	                <div class="col-lg-12">
						<div class="well">
						    <div class="media">
			              		<span class="pull-left">
			              			{{#if imageId}}
			                          	<img class="media-object img-rounded" src="{{c.url imageId width=50 height=50 crop='lfill' gravity='center'}}">
				                      {{else}}
				                          <img class="media-object img-rounded" src="http://cdn.clientesatisfeito.pt/img/logo140.jpg" width="50" height="50" alt="" />
				                      {{/if}}
			              		</span>
			              		<div class="media-body">
			                        <div>
			                      		<h4 class="media-heading"><strong>{{name}}</strong></h4>
			              				<h5 class="media-heading">{{description}}</h5>
			                        </div>
			              		</div>
			          		</div>
			          	</div>
					</div>
				</div>

				<div class="row">
	                <div class="col-lg-12">
	                    <div class="panel panel-primary">
	                        <div class="panel-heading">
	                            <h3 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Clientes</h3>
	                        </div>
	                        <table class="table table-hover table-striped">
	                            <tbody>
	                            	{{#each promotions}}
		                                <tr>
		                                    <td>{{email}}</td>
		                                    <td>{{translateStatus status}}</td>
		                                    <td>{{hash}}</td>
		                                    <td>
												<div class="btn-group">
												  <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown" aria-expanded="false">
												    Acções <span class="caret"></span>
												  </button>
												  <ul class="dropdown-menu" role="menu">
												    <li><a href="#">Confirmar</a></li>
												  </ul>
												</div>
		                                    </td>
		                                </tr>
	                                {{/each}}
	                            </tbody>
	                        </table>
	                    </div>
	                </div>
	            </div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="newPicture{{_id}}" tabindex="-1" role="dialog" aria-labelledby="newPicture{{_id}}" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="newPicture{{_id}}">Seleccione a imagem</h4>
		      </div>
		      <div class="modal-body">
		        <p>{{#c_upload_stream callback="save_url"}}
		            <input type="file">
		        {{/c_upload_stream}}</p>
		        {{#each c.uploading_images}}
		            <p><div class="progress">
		              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%">
		                <span class="sr-only">{{percent_uploaded}}% Complete</span>
		              </div>
		            </div></p>
		        {{/each}}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		      </div>
		    </div>
		  </div>
		</div>
		{{> addCustomerModal}}	
	{{else}}
	<div id="container-index" style="background-color:#fff;">
	    <div class="container-fluid"> 

	    	<div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">
                        {{name}} <small>detalhe de campanha</small>
                    </h1>
	        	</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
					<div class="well">
					    <div class="media">
		              		<span class="pull-left">
		              			{{#if imageId}}
		                          	<img class="media-object img-rounded" src="{{c.url imageId width=50 height=50 crop='lfill' gravity='center'}}">
			                      {{else}}
			                          <img class="media-object img-rounded" src="http://cdn.clientesatisfeito.pt/img/logo140.jpg" width="50" height="50" alt="" />
			                      {{/if}}
		              		</span>
		              		<div class="media-body">
		                        <div>
		                      		<h4 class="media-heading"><strong>{{name}}</strong></h4>
		              				<h5 class="media-heading">{{description}}</h5>
		                        </div>
		              		</div>
		          		</div>
		          	</div>
				</div>
		   	</div>
		</div>
	</div>
	{{/if}}
</template>