<template name="campaignItem">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-print">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="media">
          <span class="pull-left">
              <div class="artst-pic pull-left">
                  <span class="artst-plus"><a href="#"><p><i class="glyphicon glyphicon-camera"></i></p><p>mudar fotografia</p></a></span>
                  <a href="#" data-toggle='modal' data-target='#newPicture{{_id}}' >
                      {{#if imageId}}
                          <img class="media-object img-rounded" src="{{c.url imageId width=140 height=140 crop='lfill' gravity='center'}}">
                      {{else}}
                          <img class="media-object img-rounded" src="http://cdn.clientesatisfeito.pt/img/logo140.jpg" alt="" />
                      {{/if}}
                  </a>
              </div>
          </span>
          <div class="media-body">
              <h4 class="media-heading">{{name}}</h4>
              <p><div id="profileName">{{description}}</div></p>
              <p><i class="glyphicon glyphicon-user"></i> {{promotions.length}} <i class="glyphicon glyphicon-gift"></i> {{claims}} <i class="glyphicon glyphicon-share"></i> {{shares}} <i class="glyphicon glyphicon-warning-sign"></i> {{complains}} </p>
         </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="text-center">
        <button type="button" id="campaignDetail" class="btn btn-default btn-circle-footer btn-lg" title="Estatísticas"><i class="glyphicon glyphicon-signal"></i></button> <button type="button" data-toggle='modal' data-target='#newCustomer{{_id}}' class="btn btn-default btn-circle-footer btn-lg" title="Adicionar cliente via email"><i class="glyphicon glyphicon-envelope"></i></button> <button type="button" class="btn btn-default btn-circle-footer btn-lg" title="Adicionar cliente via qr-code" id="createCampaignQR"><i class="glyphicon glyphicon-qrcode"></i></button><button type="button" class="btn btn-default btn-circle-footer btn-lg disabled" title="Adicionar cliente via SMS"><i class="glyphicon glyphicon-phone"></i></button>
      </div>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade new-picture no-print" id="newPicture{{_id}}" tabindex="-1" role="dialog" aria-labelledby="newPicture{{_id}}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="newPicture{{_id}}">Seleccione o ficheiro</h4>
          </div>
          <div class="modal-body">
            <p>{{#c_clientside_upload}}
                <input name="file" type="file" data-meta='campaignId:{{_id}}' data-preset='vwabzhaj'>
            {{/c_clientside_upload}}</p>
            {{#each c.uploading_images}}
                <p><div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{myProgress progress}}%">
                    <span class="sr-only">{{myProgress progress}}% Complete</span>
                  </div>
                </div></p>
            {{/each}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> addCustomerModal}}
  {{> qrConfirmation}}
</template>