/* NAVBAR
*/

.navbar-default {
	background-color: #232625;
	border-color: #647362;
}
.navbar-default .navbar-brand {
	color: #F0F1F2;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #D2D9B8;
}
.navbar-default .navbar-text {
	color: #F0F1F2;
}
.navbar-default .navbar-nav > li > a {
    color: #647362;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #D2D9B8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #D2D9B8;
	background-color: #647362;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #D2D9B8;
	background-color: #647362;
}
.navbar-default .navbar-toggle {
	border-color: #647362;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #647362;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #F0F1F2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #F0F1F2;
}
.navbar-default .navbar-link {
	color: #F0F1F2;
}
.navbar-default .navbar-link:hover {
	color: #D2D9B8;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #F0F1F2;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #D2D9B8;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #D2D9B8;
		background-color: #647362;
	}
}

/* if big screen use Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #F0F1F2;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        color: #647362 !important;
        background-color: #D2D9B8 !important;
    }

    /* and push content right*/
    #container-index {
        margin-left: -225px;
    }
}

.side-nav>li>ul {
    padding: 0;
}

#wrapper {
    padding-left: 0;
}

#container-admin {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    .errors.row-fluid-admin {
        padding-left: 225px;
    }

    #container-admin {
        padding: 10px;
    }
}

.sign-in {
	background-color: #FF5629;
}

/* Content
*/

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    body { 
	    padding-left: 0px;
	    padding-right: 0px;
        margin-top: 105px;
	}
    #container-homepage {
        margin-top: -105px;
    }
    
}

@media (min-width: 991px) {
  .container-content {
    width: 990px;
  }
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #F0F1F2;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Vegur","Open Sans",sans-serif;
}

.errors {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.content-section-a {
    padding: 100px 0;
    line-height: 200%;
}

.content-section-a h1{
    padding-bottom: 20px;
}

.content-section-b {
    padding: 100px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    line-height: 200%;
}

.content-section-b h1{
    padding-bottom: 20px;
}

.img-index {
    margin: 20px;
}

.footer {
    padding: 10px 0;
    border-top: 1px solid #647362;
    border-bottom: 1px solid #647362;
    background-color: #647362;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #F0F1F2;
}

.footer a:hover {
    text-decoration: none;
    color: #D2D9B8;
}

.intro-header {
    padding-top: 0px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 0px;
    text-align: center;
    color: #f8f8f8;
    background: url(/img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 5%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 6em;
}

.intro-message > h5 a {
    color: #F0F1F2;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .intro-divider {
        width: 100%;
    }
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.campaign {
    min-height: 350px;
}

.thumbnail img {
    width: 100%;
}

.btn-circle {
    margin-top: 100px;
    color: #F0F1F2;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.btn-circle:hover,
.btn-circle:focus {
    color: #647362;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.step-by-step {
    padding: 50px 0; 
    background-color: #D2D9B8;
}

.board {
    width: 90%;
    margin: 60px auto 60px auto;
}
.board .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
}

.board .nav-tabs > li {
    width: 20%;
}

.board .nav-tabs > li a{
   width: 60px;
   height: 60px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.board .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

.board p.narrow{
    width: 80%;
    margin: 10px auto;
}

.board .liner{
    height: 2px;
    background: #647362;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.board span.round-tabs{
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border-radius: 100px;
    background: #F0F1F2;
    z-index: 2;
    position: absolute;
    left: 0;
    padding-top: 3px;
    text-align: center;
    color: #647362;
    border: 2px solid #;
}

.board li.active span.round-tabs{
    border: 3px solid #FF5629;
}

.board .nav-tabs > li.active > a span.round-tabs{
    color: #F0F1F2;
    width: 70px;
    height: 70px;
    left: -5px;
    top: -5px;
    padding-top: 5px;
    background: #647362;
    transition:0.2s ease-in-out;
}

.board li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #FF5629;
    
}

.board .tab-pane{
    position: relative;
    padding-top: 20px;
}

#overlay {
    background-color: #647362;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: 997;
}

#overlay-content {
    position: fixed;
    background-color: #fff;
    z-index: 998;
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    margin-top: 50px;
    border-radius: 10px;
}

@media(min-width:768px) {
    #overlay {
        margin-left: -225px;
    }
    #overlay-content {
        margin-top: 0px;
    }
}
@media(max-width:768px) {
    #overlay-content .container-warning .media .media-object {
        display: none       
    }

    #overlay-content h1 {
        font-size: 28px;
    }

    #overlay-content h3 {
        font-size: 16px;
    }

    #overlay-content {
        font-size: 10px;
    }


}

#overlay-content .container-warning {
    padding: 8%;
    width: 100%;
    height: 100%;
}

span#errormsg {
    color: red;
}

#time-pic {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0.7;
}

[contenteditable] {
    display:inline-block;
}

[contenteditable]:hover:not(:focus) {
  outline: 1px dotted #ccc;
}

.media-body {
    padding: 5px 0 0 5px;
}

/* Fonts
*/

@font-face {
    font-family: sl; 
    src: url('/fonts/sl.eot'); /* IE9 Compat Modes */
    src: url('/fonts/sl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
    url('../fonts/sl.ttf') format('truetype');  
    font-weight: normal;  
}

@font-face{font-family:'Vegur';src:url("d09GRk9UVE8AAC/cAA0AAAAARAwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABMAAAJOMAADKOVLsuokZGVE0AACYUAAAAGgAAABxkA+kkR0RFRgAAJjAAAAAjAAAAJgHGANZHUE9TAAAmVAAAAv0AAAZU2O7FpUdTVUIAAClUAAAAVAAAAGoiESafT1MvMgAAKagAAABOAAAAYGgWgaRjbWFwAAAp+AAAAc0AAAJSgqMfAGhlYWQAACvIAAAAMgAAADYCz1PvaGhlYQAAK/wAAAAfAAAAJAcbA51obXR4AAAsHAAAAe4AAAM0jt0i221heHAAAC4MAAAABgAAAAYAzVAAbmFtZQAALhQAAAGyAAADLfyW4mpwb3N0AAAvyAAAABMAAAAg/7gAMnicrboHXBTHGzc+y7F36wGnci6JBu9QKXYFK2IhgCKgIqAooiIiVhQEQYxYQAV1LFiwYWzBjiKx0CwgIigo4Ikl5LBhMM2SGJ8950j+swdY83v/+byfV4+9vZlnZp55+nd2GWRsjBiGUfiHzoiO7OZLr2HBkYgxQgzqLtgjwYERehkJvSXCl8YBppKOZNlbz7cMa8l4NbdEqIWlUW1LS+Rk2fVnc9RGHCNDZkiJWqMOyAbZoR6oH3JBI9F4FIJmoXAUjRajlWg92oJ2om9RGjqLLqPir6dGhsaEBhuu7obrDMPVY1r4guCQkNB5Czw8Z832CwmdNissLDiq8XtcyKzIkOi508NCYxe+vw14f7vo/e24GZHBMaELDddxwSHRC0IXGq7jps0KjQyNmhW1sOkmwECzyHAdGh0Z3rNnv+49e/YMCY9YFDlrxswFVnNnRUXNmjfjI2kZfiD6j0FGSIKMEYukVBAzUTMkRybIlIpEgZqjFqglMqfCaYV4ZIG+QF9SMbVBXyFL1BapkBpZoXaoPRWcNRWdLRVeR9QJdUZdUFfUDXWnouyJ7JED6oV6oz6oLxVsf+SIBiAnNBANQoPREOSM4qiwXZEbGoqGIXc0HHkgT+SFRlAFjELeaDTyQb7ID41BY5E/GkeVEoAmoEA0EU1Ck1EQmoKmomloBZqNlqBVKJaq6iQ6jtLRKXQCZaC1KJOq63t0Gp1BOegcykLZKBddRHnoPLqELlClXkEFVJ2FqAiloFJUgq6hG+g6KkPJ6Ca6hcpRBapEd5AG3UZV6C6qRvfQffQj+oEawyNUgx6gh+gxesIkMauZNcxaBqNNzDpmPdqAtjIbmI1MMrOJ2cxsQVfRUhRPjWgZs5VJYbYx25kdzE5mF5NKzWsN+hpx1NAWohi0CM1BYcxuNBfNQzdEyxxJBRCF1qGfmHHMOaPRRlONthuVSYwk1pK+Ei/JREm05IKk2tjWONm4lFWzsexWaRvpfCmWfie9In0qayabwllww7ncZlyzcc3Cmq1vdrDZtWY/Nnsubyt3kKfI78n/MBlkst3kL9PxplGmq0wPmZ4z/cVMaTbAbLxZpFmy2Rmzq2b3zUDhoPhGkaWoam7e3L75tOYrmu9tfqP5wxYOLUJbLG2R0+JNy44tk1peaSmYtzGPMj9inmv+WBmojFTebWXZ6utW37fS8S35TvxAfiGfzP9uYW7R1yLQYr1FtkXtF72/yPni3hdvvuS/9PlyzpeJX+7/srh129ZDWge3XtE6q/WjNsFtlrTZ2eZsm/ttXn0146vkr3K+emzZztLfck9bv7a32hKVtWqEKkN1TVWr+kdto45Sb1WfVd+xamblYHXU6qrVk3aonV27Ie0mtVvR7nS7++0t2/dt79F+avtNHWQdNlt3tr5i/cBaZ9PSppPNCJsgmyibdTbHba7aPLQhtha2/W3H20bYrrbdbZtpW2hbZfu7HWvX1s7Zztdumt2TjnYdZ/jgC8JvFxh6tb4gwcbCat1o/WopbCBFPBkMW+AZZokVyeeB/sD6zaxeOtlwD4PJFvpDuMSLd0T8pSA/KkjJKjA1LwNTmwfKfdAHBvPbhV1d8Hb9LlaZn+HHW8kVJEGYDvuZqzev35RAM2E6304OIyzayRUQlgdt8pg8wVoC/wjt+Yd5ztKLsNwXjyfLe+OmOweMA3/A80ibvvTmjtjCXhE7H4u3hrtajPMGYtbXojc+Am0eY1ZxVCNM1pg/fJxTOKHw4lPla6GP8DOv/C18j/+uMeu4u35Osv5LfMfhntj+asizaZq5B+bjsThwWrA7nojHb/dP55YNZpWvL4RfWFaIuSGFP8p+2nOlHP+AH07LbXdu8LHwA7gA52YdKcKXcN7i49GcAlbGF8HyomjxYn71LjjcLRYvykuwYiEvtNL5emF9q3pf9nvdcN7ec5iVVdmwp7U3Kt688ahwUPsYt5crHwhSkvZRn1rsVImdiop4jVCiMd9fF1MHNrXKZ8LStTwgbAdSNqvo8N1ttVxfaeLYWL85EznSC7zYW2dvluBnXI3XFXuV8h5hRrh1U2P/g0F5PpzymdNYz+G4PybyPz3e4Ae48kDBOY4SeQo3+TNHIyeo8bjIUNegeZmxmTiLu3js1DkV8PqNfMjMCdFjMR0/eOx5jRpfyc65nMEp9MaNym1SrYLsI0gnMPdKJBCtW8f3tR9BhmLiRD/XydCH9lz6fvbrN5PgCwwu9JMDX1S94ZoGQdcSyXFdDF9llUO+wMSFfiaRL7624tKj2YdPr8NQDE70MwKG9n3KKezhmGDGZAhWEkgVVvOp0MMep5IepH1pRB/oOqcD4TTj7kOb+6SN5lIH4KDr8YhHrGIxrM1jIKlQApcgl4cwPxJG/APBn4QVQhj458kU5DGxg2RmAThLzpL2fAe6p+nioEJYLoFsWMvnkeWBIlk8mDJnwFTyEox4a0rl2Fn3mEkU7CSXO/Pwq+7xKEx+qX/MKqj2TmqYjKeQ8FQCa3S9ecI7ETmJIjH3iQy+AL4aZBADMU4gI7za1fjxcYJIH9JnFkF9+876Exyhb8abGrUC6zozcFwrgXoLXWdPGZlAlOv7gju1BP1lVoE1QpqGgbo6iVY4wmeeK07LpiZ7cjIejUfGBpCvSE+OWJMBeKTQAWMNycM//8VCO3C4WIWf4BeuVURBKX0XBU/nKMOQUArLNeZQXde3TvmsWrjInzqUt+cM1f/L++eme7n2H9FJ7SVTPoOW1wOcXf2mDlAH4EnbAw5xK53Z7PkX4gswKPFftzAo8EP3W9Zb6biHu364guvwEw8N4am7+X4zI5I6zhDK8iWtRGgJSbzQjzAyEqcfgr1gO8ZksBZjGFxDuWXJAwsahR6xSU6UyRCOdJeJTO7UgJ+G+ekf5Lsc/YOOLkd1EsFJqOE1pEoWTZ5UYxbMr0xwcPEPGKCegsdtG3+MWzWIPTf/IuWPA/7lXWgFnOND0l8djXeAH9VUJWy4DbPvMNlPILZWInQVlRWyjPQk1GHWcsStth81JOanh2D2xPs5MVV5Y/9ZURN3gRMgkEO/FI64kNN8TfpId89xY0a6B5Xcu5qdX6ZWCDUaJl/oKhGChad8mb6rK1TIyGG99gkWFxVOV5hnPxn6GCY9HvBEeQ82icsaOQ1rp8ZDcnxuRnDK2gGRAcNwf872R3dqK8Z15SBR4aqZJb3OUI+sPJRzFVdxz13LCataM4wvzQjxVOMxoWNHLPPcPTMHF3HXM86WqZS1iTSwayOPjMcjOJ/Jk4aOnJh9XYUrM3Lu7aE6vwOzb8OGSuZ0LcQ+kWjjeQjZDj2hP4a1HLg5PCAcYXr2JWa9ijuCqaoY55/4LjeOOFFTlZN+8Rw4Cyf48qxRg0dP9vfsP/taedmly9fUDV4C25o8RYijnqJXGIvu8lgw/qh5dL1cdLawjUI8U3ZRIkwX3Hl8TW9DpmNXwYbMwKXkDxjBKvZCD0PiKBSmS4Q98JTP008PlAnTiWfDXcMMQg86xVT4ntfbwAxqUH+QEeQP4kXN3wam09zVgfIl7KAmzoIpQbV36pTjvxfu8hlHrn17Fmtw5gzsjYO+mercZ4Rrgg8ezdVK8c1tp3Pyqx5kFOFK/HzYFSKntuixaBZVzzNQ6U+LyQ7OEcsLYFHiexn2XgPFZfOiYmh+X+hepLwkwGzeK9Ql7mvMUec2A2PwhADoDp1gGAx7ScyIvZ2fi7d6Fo7et7mAOwGL2ajt47eFUmqbjt2IjVr5oOcVn1uqfHz+8IFsTnlp++T0qPOYe/3zI7CHfoSHHmQcmU38yECygQSDPVGAi/oBrkq9eYojHNzmlQ+WD545ZjTmZoQeufHm1vXH6p14x9rtqzlFJizUQMVtZodQIREGwEL+Nln4FJMlOrd29Frv9hjfhoUsxGh4EoRfQgWrmEq9b/VN2KQxv6uFyNo+NMne3cCfTchNuoyhE/7zNgZTrB1V1WUHpxQe7i4vwTUYjFzvkCF4BvZL9FnBaUkZD+tkxzemrtuPuVcXpgzoOySogzp4OJ8rVb6GFgVjBrkNC3FSx+B56+ev5xTXDTmQyaIuXvUH7zNv7LJhVDRtiHktjANv+OoZtFLfw1eW5Idxm+6wwQc9Up1o/zDiSYwJJhFgSyU0Tl2Fy1KKj3CKNw2z3dUKZrUSyvnpFdcTM2lMWAbO0JpeJ5MWoCIp6iA8ItF7Jaf14I9uPLqeMgrjn9vRWb1Ia2viro7D4eujN3AKF6yBFRpYJM4oEUYJAm8jV3SEoxpIfd+k0RvVO2vhKCRrSDKkyhS/UCEGaOD8LborQUqpHsID3pYakRRKxWHwN217bqFzcyRF5G8ocqx300Ip/E1KafapwTo3cWpwEAnq3WiThsx+24appW1DdG68nVwxv4lmIzzjIQde2mKSSV5geOGIMZ2MhteUI+mwipwDYxqI7LGmYUYNL+jplEIzjUwBJzdWCbnFzL37wtFqCYTQmUlLHF/vVo03CX3ZdadXg9Ga4j3OR7umhnDgoHeoxeAgOLAHig892Xltjfca+3Xe3CZ9Xy2O17mRFpj01ruw0d6x3nHeccWxxdHFnOKFyGb5fcHovkR4THczSN9GRr3Pa4PzvPKgWzOKObJKaNNZ5Pg+xkJ7FhfjrNXVmUOOBGZ6c7BG355VQOcGhWbUCePrJPBGN4rvKHc17iRXeMDRSjhuEOciqmoLLaRLd6/ZvjaV6tIWlBroCGzfJ8SRqjowyWc5px3JN9nklTH9egwKtFYvwzHr4qgJ0kVuCdeaFhGSyRS+PJdYQj8WVKd+hhYYhnIwl1hAWzKa/rcgbclcMhfoN4xWrb3FE7MOz8AXfF/XgRmYve5BfIlvu+7ETK2YCadvQpqByZgGJk/nSp/gc7N3uqQE7B68ayz3i3RxdlTN0pLF9+fnu+zS7tZcw08xTV73iSM2cC561EMe9r7zqIJAR/v+4whSK0Y2yOb2Yxj/VJJzjM8LL1l6BUN7XPcQgxT/NK6QsGcHHA05g8twWXHuLVrWXoo9Gs2l3Gfn7fFODcSkNe4xBJPm2KZizPPQ6rCToTTyefkFDKD1ssfOgHROQe2bJvJQaq9JBktPdIVpekErCDLFD0uqmAot/Ez7blHj6SxXHMT3mBQaauCVBdAY0xuTAD2QCQLYY6DRhmqzQKTQPZH8SQd0kSsiRAPZJWyTgAZ+52E6/Nodk/4kg3SGDDsME8hzEkx+eYahF6SDA0l/RY05XBwDy6g5V8J5HhYKlnSMM6miKKfKFsNCvSUm57WUcD4tnE5RpQphEgELer5c7+kKT2R6pM/CnkIYrT70LCUj0zrn6RLymBe0ckzT+dAi0Ln+MTjnEU6XQH1vQEPtZysR2nXmCS3+RmMwFH9N48CfDtzQmdc9Js6BwNUnEI6mqh5CdDFTAG8lQk+I5klHqBiNSRdScR1DM9gKUrKVVfj0yWOwsFoirO5DE9xqOspHOAkyhhZvLhKI06n5rnJF7/hSGFYCynIm9wmM1krqhFZ8NzksJ3v57nJFXHwFvL3FVGohlZagXXVRvGN9VJU0+Uc2dXxBSDl1BeVPr6Ez2PT/nSjUw/G46fP8ONLSuAdN063ibwionMl8KhFaV/Nz46YnzMKc7ehSMIHmlUW16rM4I/7IYm6zho3YEbw1kAZdnjTrRQuDAa8Gg4X6PM5KSd/BURZuwdsKOg2kUkuYK7JAHkgX5Y3L8KRDlD3bk87EpqYTKNQV+NL3R4q4Tb2rMOsI0/ieckWv+BvQ4yZYVTKZjyCiRiJY/cTby8kh2MI7UBY3CN1LIaiceaaVPBPm8cO9buq7a4XuYFZKzAqlrwqyr6oO491Jqau45HJ28aaojRF0SRPngcROrYgjc8qh7Ue8CZF8L7kj9BFXnin01ohyi9K+k5sW9kpr8m+U3jnm764ieVrQyH73u2Wt8sWj5oV7UDBTK+S9Mi9+1UOrzAeJrh3fW67cN7W+Ha8VIh2lCnJb7L7b0K1s7D5DXPk+ckV7rIuiq0kEfwsyDVIgGObbYDKWRGBhvhiyo8SQ7XH4CDVysYapbSSHrha6KMoZjdbfNPIbJH4kYE338rU+0sBy7o2SyrTxbiqSS3/KPvp5S/brxCpb1Ug8fs6sYYuKJ59xpg4+JixyOPeRAD6c7V8E4INHzI0YyilCqcUY3RDFuZta2w5a3PWVexj3+9QMDbPVD9HCcem3gZdmlH1ihcPwuGnzfLj1xIzvIf/UfMShOHEAu/ji2NPun9jPTXzp1JFCjpzRyhwFe1GJZIVgf9sgqHc72Cd9lnnpqupbvHPNriRuYxW7ZMPi9YvwBBwya8kkqkOf+HL4u5w5/wDkNZL07XxmXMbKs/gVrrlEMYwm5HTPIyE75u7FuTjzxKEcfA5nxqfFccmVbOSOoJRQ3Ac7BmM7PCR7pjbsYux3sTgUB02e70drnzmbgnbT6aPib8JfpcwLypIntVgwdyTmzl53yDFZh8LQamqtRzZ9u5VLKmG/WblozSLMTZmXVqiGNOBp6p8Zr2FuGBQiBNDtOJK90v7+Hl7OYfnlKshzJBpZp0K3P1RF+PrRQ5XcJnvqRgprLEQyW4TREjhsAUOFSAdMvtBbEwvBuhsGN30kq/gNVzJbdF9KhK0WYCVE9sE+JIJd7L3EO8E9oXxp8eJizg/C+mFfEvaudZnY6gMRPTBY6SOf4VwYxqYW7yredm/H4F3eqd5cDhlGrfRLce11Qhca/iCBBwdYSVeX0BKKAS+6eheykoL2BFo2MDAcjMjwX0R+yRydh4FhYTzdY3+qw764FJ6XMgfhN4nACt35UlLtBYtltLh7hUfBb5jCg41inA6xyQNB/JhD64J//qkQoWH/5SigiFbph3SJvPKlFQ6akkJaUlS1g3Rhkz1iY33Fg41A2RW8JzbRg1tKW+NJy6wpbzCXJxuGFxzYdIdLhZGssja5KCZ9wtbsLWnHEi9TTPsNbVx5J+1ABaY63UWWvY1jwJTGeTeyjH8b5/d3nOwDfhjoYeBEck/nz1fgAwtWOXOLyUg20Wff7PMJk1ZEhSWP4VJpwybnBQtocRsoe4OzzsVDS24pdGETb+zZc0XkxxfH7km+we2gbSnQMuicFV07CbzzM/KZvIsgUNQTCI9497jIYNVCHLl5xEnPk7O2z8Ccx9RQWgxclJbvSjur2ovTVlyfVTbzxLIMzN04kwm0TCAlIiBrPMzLh5bUb61oaMqr9+SXCbtc8TL9LlYxaJ0GvimEVRQ4qapDflC+FMbrWvMLdk7fQcuEFthxECbtcOym4C2zue5+UuWzN9KtCzdE4ihM0PAZEyM5L8FMQ47Krh0/dg4/wXsS0xN3cdCzUKp8SQZL4zMSM/BB/CznQjU+g9PjjyykRVdIQUkBA8HUU24JpjzYwHF7TFqSw0QOh20wWJPjHTAeC20xHkXaNt6REJrZIQTaFpC2JfQqpszjdQyY15XS6tBZJ+Md5dDTwpGalaIGfmKy4WcJTbjJ/AD5MRhEr00ptp+YYhcLp3gn2kQGZmrKGThUJIGMFH4ynu7OFu5eErVw8ZL56mi8MHnxVi5xGpuasC9pN67Ap9PwBZw5f/+UzVzjKhfEVVbRVQbKYT9dZiBdvjsJ0whbqdhP1BWCqe0D5UtIbBD8kanEjcfDl4dM8v+634wAPBR3vOsJcnwVX/32xCEuqYqdMW/MomDsiidniBXx7jN3HuXk78vF+Xgn3rxm1ztYd4luRER2sFn3My0VSH/9Fn6QHAIEwg+Wf0b0o+4butne/0aTD1wDROytW8QPkRN3/bbPiSovhl80B59MsM5UpgvddFW8s1y5+2u58jcXOVmu//nzEeepYlwNipmvq2xSDJmif/456bljD44xMD+rPEsCl94yvKs8zNhNTsz1/3xAC7kUjfXQbDfgsXW6fImugALXE3gerID14tFXCg6HRXBVrOyGYlJX7/wbZt/AQliAD5OFIGBWbwmXeOJJjQtKWMV1qncwu9WAPuFgkUSo1VnzDQiTDMMiwsSE2twM+Iq0Aq8Ebv6E/2gXW1PZsvVF2woOciur2P8jpH2PMAupokSQNs+gTGhHzEWs+Vl3tkGNHrR36Ae9V6gGRTjaokGBDoT/qDu/jsL5WKoK5RsYSXUxrEEXL8lcXiNTPhPxqyDVkDNUkAYMu4hWMzW65Q1LVuheUYaG1C/ltRSQftgDHXQJlJl1H3bFN3AC3+jiKSf29fHvu5bUmcfXrdIuq1NWZOjuNzGh3Ee4+vuNVC90a0UzK79/W7Sz2/eppXk1WFoctbR0F3lBfRn/mwFJSv8zkmwCkWcp14048ppByKEhTWDyMwpBaZDz959SnKPba6SYY5C1/5RPKIrFDWTUASfuALg65a/CtIYtPKBb+JU6ixFV3sdjvq+jk76i+nlFeTvy3lkGkS8+oWxcXNdJZ8kHn/b1YsfmuR3sjwlFFxSOYjIXd00bkDWa8/E4G1J4nS2YoImowUAxCwWvGObiX+f/OLmY0w/Xd+IXnFtSSM22AbbiIlwQc2YKdzKQ/y5opx8NSsS3fQ9iJpaL+6dmcSLa0w2k4mlAfJRJg5XOCRBx3yd9fxhEB9nv+gZRoTUiRU+D0GCif1OfYx3tyqFbz6Ujk95vHVxJO5EmXBcrxmsR7xUZ5q2uj+Hd5YptK27A/puppRB8w/x3LSQ+HfxUmQuRG/m0FceT0jDwuK6aYi1c6/uj1V5OeV67r6IMP+NA0vcuURJpLydionId7XVVBBSFssqCCyU/5gT2Uyn1dn38XVTDZcq3L9feEh8lDRw1yRNH47CN87Zy79HYBcpUAyCDiQagRvxI1w+A2b8RHjKkGyL9d8KLVEiNhPVChujFwaTHvxGWiwaW+wSL9jVHq/wLAehMRPv6ZTk1sL8QtbBUksAPlytfL/f4fHhuHR28hAp8kpZGAyeaMhsdkSwmSeIo3b8MOkPjMx12nAZorFX+g2CNrh8/eXb45Mnp4dnZ6Yez1dmzD09WGYJ2N7JDnObvDxaHcRTn9bzhWwKWlXQaGP8EptUoa+oEJX/6u5wdtFSpzJ3jpVZenCiL3TB7/QIaLRm7SYTpXhl0X12GKzMOao67lM58ggvxxR0Ze7mkcnZWzOQlIbS6q+mBJ+UlAuLgrHRD6roUvIva+oTXtGTxwOPDZwZG5QUeHojH4rFLpkVz8JC48JsfZBTewNztgyMHqcn5/ry1W+jESXNOnFcpLxYVHbyl2ocPr/l2Nc3trcT8YNoIksGq6D/iZMJjipMNj8Zs7g96s5gLH/ef0wYtdJtw9TtoLFpQAzqG8QZTg2Z6nw9Q8r8RHjCYGvj/O6Foao2EOoOp/aEf82901FQyH62kphJTQ02l33tTuadP50UFBFMF6LrggFyDAi41KoADi/F/kRaE72tDepOeD53gS1UhzhcV9w7Z1xrKMIrcbhi2NJBO2Iii3/VQtCJuYs2HXRmUc7FroYHt7vqM913H68yX1iVoE2h2SX/PKc0uJvWyRioR8hq8p1K7XfSeBK3yttCqwXlyqe/cpq6zklh/CIVVylsiGlb/TzRsEHoDIJ5j2EpoYBMq/ozgrGFD339CYNCGgUAwM2zLf/zHBAaWM5/uF1ne/5TmE2kDy9qGfKK8RjNKG97zwyG5dXTKLVRzW+iynu/L4kFE/TFh08prhTA+5KS3Ozv9WOC3vphY4j52mHTCXqljDk/lvFxOzywuZ0+F5S26gsESP3ohPgwoXXw5/AxH8kgyH38o8Rg+gf/Irn6MM/HRuP3zuUMBfEpEchieha0nO/WmQHnuruiDnAhyhQgqkgag2ygz6EGV7CX/tLNBXhD3vnM+lVUjRG6QFQWoGU2dc+vMb9DqorRuqVZ5z7DrJiOoBRk1AkpmbTAuA17e3jD5Th8RhFqLKOIvQ63a9b20KAbpJPY2FqkXcxnwzwbTbAn4637lR8g96rkPytN3wfJ8Lo1xySJhhBhirXTtKG13sv+T4PruKcGZXLH+NBMHfE93nWKYG77X7xOfGbw/xjqfS5V1TKTaT6l60VlHHR1zR1V17HKJerI0KSg6chYVdnRaUhYH+4nr+6Muck+35JWhKGume8KPlE+tf9JUlNWKEL7hoIl6iD5SpuhpeNZwVwu9tOJ5tUgGdy3s5IpOTYdfYCsecVU0noBBgsVIimnIcboidRshUkZb+sgVgmu8ZmRj+emjMRfLFq0y5q0nrdjfl5lwSqM3IhKp8mTgjwOzOtKw/8npuvo5/iEr70dOGUNkglSmPKl/do0nZu3rPj5uVzcUKyoF7GmKXR43zEXTFqOcskaX8FNjvPo8WCmfN4Qr1WA8atrMYTSjzCn3Pj2A8mLZx450Ip0e2YGluhoXfZ9edtL9+oxq3BjL9AnpfO/J1X+IRv84u7e19WSX3mqIgEhe+ZyGuJGG7NF4QP+iSDxmddd14f/jwXv8ILbhNJ9bh+cH/sf8sW0PC9Ldmvv45f8++1cQHwNj4imY+fkHlUXxNcrXcE8I5f/TCVfiMFYpNJyZcZv/O2fb97HK13dSL+fhO//zkM3wdEDXlXq4+IRAOG+oFPWt/MUHBb/hSmEW7TEcZPkZPP8UdfxRYn24iLaL9aHQ1jBiWf0isT60NuQKg6c/b4gUg0eJvhyui64zh66NmQImvEdDyn3T6yvFoT6GodAGlkgEiWEsbTpBnd+mwfltDA5N2w4aUKuzAbVuoAVRA2qlHfkGrGxlwMqnQN8QriNouD7lIm/YZhcahgzbbGMopPVsQNM2Z4oBim4TMg2h8RINfqM+HTTNUAmT7M8HkYaoxn8wqiOF4aWG0KZ7X17ru9HyunFwKCWYaiBIfh/7ttOAOeqj8nuxgdMNDeX3B4F0ZEMIH2EIpD6GF2oEqqXR4gs1+i8DZQphlKHxrankrZvY+Lep+JbNcyEE0pi94CJ5IczgvWmY+tnQcoi2PBBm8qNpS1gjzZVGGpi+0UA5o5HySiMleCcb6Ec0vuBzp/EFH5iTLL55AOaNb/SAUcNf45s98I1F40VB0hqOi/yajosaWy6ILQ1HO+KLKYMLygtgjIZ5+FRSJnTlk8Z+h9m13+DZ6xZx4ThpbAZmd5NuWgewoXgqY+upNBH/R8SExk3EtjiwJA4YjmKxjQVkAh22B59YR2ulKTi5gEzF7A5oeenma5yNTyccieQ23WNjdk/d7o+JA+7dOZY4cQr/dw9DYBi1dndhHk92pEn/zKp6pjqNTyYcjuW2VLILd07dTssy8lWPAcRNveTdI5Nh9EummCvOEXxDnGMSncOUBviZ0rnbxqX4iwcUXXqRjuqZHz1lyZG9KL56R3UAH1y9O5FTCEtbCZf5+G3C/BRwSUlNOYWlZM56mUouWWbaDJvKsamJRp63JznL1FRrok0xNVPJpf+YmlsiJyWyF98fbYVUqCcagEagYHQEXUa16G/GipnLxDCnmRKmmnlu1M6ou1G4UYJRqtFZo2KjX43qJc0lrSVdJF9LPCQBkpmSlZJNku8kZyXXJVqJzpgx7mfsa7zQONn4gPFzYx1rPDsiYvbsQxHp6YcOpavTIw7NVpl8C/ud8BaynzXJOhnq5DQzNChoZmZ19cnMLLXJG8Cdkr4m61iTDweK49Qmms/PRWQmZJEr2BE36cwlY1bOpEKztn0GY8AbWj4DC5olymLF9xTuscGHnVMHG95TcCccSSILgCctIVBdin/dVfgdZ+KoPyvFZIC3B2k1lkt3Y8G+rPo3DAGcyacpkP6n2B3mNj2AVps0PWIWU96HuVBNZ50kbTfUs5Ody02QqgQ/R32QjLT/xRa6Qvc/fwEHlUk3DCPr3V7j34W+7M7ibcVbi7d6b/fe6c39ru/7J4bROjcHTJDehY3zXuIdP2pFyfLiuGKugzC4K+6gH8wu8V7qneC9vHh5/uKbnEnPjX8RWXkSa3L6u9ztIojLpCBuumzRxvkGCCfrNoZCuPJJGvV1nHPk8CVuq5sGY6hk/5pQRpP1WDxGxGQmA/3H+U6ac+x80aXT9yj42r8mNYkzqSkrvfEox6kLMfYZOtjVr+KpyqS/p5dHn0nVv4JxUeU9TeEwe5XJ/8rp/xuAmGx+kGVAf4cp+jP5/3vUNEVGWg0f3V4VjMemBh/mEr9mz0ZcWJ6NObD/owbc1SbhCxaEhx9YcPjwgQOH1YcXHAhXmTgSgWq24yRP29HcuREssKW3H2AYQxX7QT0Blo9eQCfo1OcFsVSbPM52shaL5KZqQm3y0WMcd/03bJT72Cku87kjQ9lfDt354TQNJCaRMTGRkfti0tL27UtLi9kXSQ3DBAa5YmJCBgH902DW5C+Q9UzqT2SsCTH0ie2ksQ/W489eB2JNXpEKEkS/ewM3Gvcm3HWcfyffmTUJlS5dtXyJKgEv2RiziTOJ3rxwUyzmZi2IDlInZMp2bNq2U7UV70zat5Iz2b9q76o9mDtxYD91sA8PCcQzArXJnl1xEeFxS2Jj43YePrRr1x7K96nPXE360fbU4v5UJhjO/4/n/e9M0OT/zgY/1426QTkqE1oXk72y/+ODONZErMTFQlz1SSH+kYGI9qE2qcP/zx7DmfwM+3wTSTOyl2qzGex1SupG9rEm/x8C8uOoAHicY2BgYGQAgpOd+YYg+qytzU8YDQBB0wZyAAB4nGNgZGBg4ANiOQYQYAJCRoZTQHya4QyQzQIWYwAAJqoCnQB4nJWUS0iUURTH//M505Rj02j2pFVEQhCY5SOtFmESESZpataiB0GmiVSLsIc9pEVR2aY2Jb0gIiErCCuzwI1Bm1IMYsoIyqxoYRC1Ov3mjmUYhfP9Od/97j3nO/f/v48jn6RkLVKxvMKi1WUK127eU6dZ8jMuM3k0vlE9b2v97nqFa7btqlO6G5F749E4hV3fpzQX7anKt5FesgIgmX5Is1WAp1pNmqnrIEc3QK5ugjzdAot1B+SrHRToPliiDrBUnWAZ+d46TmHNVSb9Qm3RXh0k43HaOJqZK9tOK9fuKknL7ZuK7L1KbJC/c+27goy1MdbKWKvK7ZkqrVdV9kSt9AN4+/FG8UbxDjEa5c8ye8y7yqnscu9NKEonukWF1qwVWBG2Eiu2bq3BSvhei5XyXWbXtM5ekbFbFdbDnD1ab8+Zd0AbrFMniTuLz0fu+VqghcpmZfJVqnXajr5brEsnM3v+VbEV8NqSVhE5nd0ZVIKP/Ug03l4nFP8hsfzuCY85+7vhtmPMf7zCPmE91mtP7TP7+f/4vuH2S8xsCP1fnA39Iz6hHfi1+vYCGxjl+2z37CtzPbGodf3y2svhNhoz6/8Xj99ZHo3osD5Uf7R2e4N1/xX53L2fjeiwQe7LWJU0k7vZWv7O+8fjaQb3frYmKAOM52zP545lAo9TvkApygI+Tns2NSQHJHHuc6kYeSDIDcjnnpUCP5WjjjwNauTfQzpKZBMI6QqY4KpI0FWRkKsiIVdFgq6KBF0VCboqEuIWdWkiOeY5Zp7mgFTHyefYpDk2UxybSY7NZMcmQH1azKwxThEtB2EVgYkqASGVgxRVgHRVgqnaAKY53p7qQapj73PsJzn2ER3TCdif0hlW55zOswoXdBH9l3QZzTFtnq6CuMKA2kBcZ0S3gd+pjTi1Ad0Dcc0BPQBx5QE9BHH9ET0CflhkoD6D/chkH7JQnIPSPBTGqk61dqhGtdoJ9wbt034doM42wvywjsC+CV43XVVqZ66OWG36CSeyPDMAAAB4nGNgZGBg4GIwYLBjYHJx8wlh4MtJLMljkGJgAYoz/P/PAJJHZjPmZKYnMnCAWGDMApZlBIowAnWBaCYGNgYehjNA2pfhNJD0AooyMrgDANC1C+94nGNgZvzEOIGBlYGDqYspgoGBwRtCM8YxGDHKAflAKThgZkACod7hfgwODAq/mZj+/hdlOMF8lOG1AgODIEiO8R7TBgYFIGQCAD68DZgAAHicY2BgYGaAYBkGRiDJwOgD5DGC+SyMBkDag8GBgZWBg6GOYSHDYoalDCsYVjNsYdjBsJvhPMM1hrsM7xm+Mfxl+M/IzCjPaMwYzBjPWMF0jOkG0y2mO3Ktcp8VRBQkFeQU1BSsFNb8Zvr/H2iiAoZJ+xkuMtxguM/wkeEH0CQmRjlGA8YgxjjGErhJDXKfFIQVJBRkgCZZAk1i/P///8P/+//v+7/3/+7/O/9v/L/u/5r/K/+v+L/8/7L/S/8v+b/4/8L/7f/L/0f+9/9v/ffd37t/7/y9/cji4ZkHax+serDiwcIH/Q/kWE9BfE0dwMjGQNA4RiZmFlY2dg5OLm4eXj5+AUEhYRFRMXEJSSlpGVk5eQVFJWUVVTV1DU0tbR1dPX0DQyNjE1MzcwtLK2sbWzt7B0cnZxdXN3cPTy9vH18//4DAoOCQ0LDwiMio6JjYuHiG3LyCosq65va2jq7O7t7+vgkTJ0+aMnXajOkzZ8+aN3f+AqATEoG4FYhTkxny60FuSoK7rmdORgKYkZJ+nCEzp3b1mgMHjxw9dJiBYdFmhlMnTp4+A5Q7xpBdnFVSWFZeUVpdw1DV2NSwYst2hq0M29KAkgBCyam+AAAAeJxjYGRgYADiuOT6D/H8Nl8ZuJlfAEUYLuh1uMDo/3P/izJvY84FcjkYmECiAFh8DD8AAHicY2BkYGA++l8USL74P/f/JeZtDEARFHAWAKt+B70AeJxtkj1oU1EYhp/vuwihIpUaBKNEraGmUrWKP6mtPw0aAk3VobhUKoirgwjioqMotIji4iAKTkrp5Oyi4qCTBsXBkqH+BVGLQbAi1/dcGgma4eE9997vu+ec5xxrAO/FAsN2gN1Wp1/si7IM+llW8lDvuhkV66xKzrNsoxZ/suMUqNFrV+Jfqs+Jk6JX9Im8GBCbxc7FzIf60OudDHuRgnKv3WZDdJQ9PsYyX0LFT9PnN6nYO/FMz1N6vkOFOfE1vuVpva9SicqU/ToH/bHm/qw6pS/Vt29ssXnML3DIy3RE43T4Cjq9i5R6czbBKbusNU9w2F6wy7R/MWWv2eprKdkMPcoeeyV2kAlj/bfELEN8iR/Zk2RcitKUwntPJfWlpGe/+s+w3o6wSt+K9lRzXiVl97EwtkkydoIRy3NeOeqb6E+81xiUnzVax0V7IFcN7op7Gm+3G3QnbtoQjWmf8pW4aoG5uC5fI8rf4kfTU1uCp1aCpwE2Bh/t8HnlzKKfFpiNPwQvygXx/a+b/+kKblpJ3ARX2lMyRzhz+aROMfzTXmpfzxmK3pKLCpovnLE8J2crv2HNSX/IBpfENTEtJps1/2azRzWF6KPucpU0b1htx0jbuPKc7um07nNW55HVOYR7/FP3YTmZPx6rsrkAAAAAUAAAzQAAeJx9kU9LG0EYxp+JiRI1hQYp4mkoXjw4u0Zi1HjqqSCIGNQeu8Y1WdzshM1o9FsUP4BfoPd66sXPJD37zPo2tSruMOxvnvfPPC8DYAF/oPD0fcSysEIFX4RLmME34Sks4ka4zJw74Qp2VEt4GjX1Q7iKOfVLeB6L6kG4jlpphd1UucrT56KzZ4VZbAiX8AFfhacQ4rtwmTk/hSu4wm/haSwpJ1zFJ3UrPI9Q3QvXsVSqoQuLIa6RI0EPfThoDMgjrgQZNXTt8DpPen2nB8lolGSUjhAzcsEqHMW9C/4OREkRefWAahoR1mDo1682DrGLY+yR/tWvvqxcM2EYtg93j/faRevVSavXl3olL4xaWtX/XbaPDhXPrWdqn5muGDrD5aTCMMdHB7Rwzp4+54xqys4naJCaxd7EOk9b/v58lNhMP5nd7+gwbBXYt65rs0sfMK2wPYjOY+vOTJqcNEzTNDfXG1t4b/oXI3doJWdEkyLmRbRtKds80p2oF2U8+DdzfMNtBFzjYhmcTgZNi2ENd0wlYIFzw+0gGI/H5tTbTW1mstgFz43pN43pv8YeAddqiHMAAHicY2BmAIP/WxmMGLAAACzCAeoA" format("woff"),url("../fonts/Vegur-Regular.ttf") format("truetype");font-weight:400;font-style:normal}