<template name="navbarHomepageMenu">
	<div class="navbar-collapse collapse" style="height: 1px;">
		<ul class="nav navbar-nav navbar-right">
			<li>
			    <a href="#" id="about-btn">O que é?</a>
			</li>
			<li>
			    <a href="#" id="how-btn">Como funciona?</a>
			</li>
			<li>
			    <a href="#" id="why-btn">Para que serve?</a>
			</li>
			<li>
			    <a></a>
			</li>
			<li>
				<button id="toplogin" type="button" class="btn btn-default navbar-btn sign-in">Iniciar Sessão</button>
			</li>
		</ul>
	</div>
</template>