<template name="layout">
    
    <div id="wrapper">
    	
        <nav class="navbar navbar-default navbar-fixed-top no-print" role="navigation">
            
            <div class="container">
                
                <div class="navbar-header">
                    {{#if showSideNav}}
                        <!-- Show toggle button only to show sidenav -->
                        {{> toggleButton}}
                    {{/if}}
                    <a class="navbar-brand" href="{{pathFor 'index'}}" id="navbrand" style="font-family: 'sl';">cliente satisfeito</a>
                </div>

                <!-- Right navigation (either user profile or homepage buttons) -->
                {{#if currentUser}}
                    {{> navbarUserMenu}}
                {{else}}
                    {{#if activeRouteClass 'index'}}
                        {{> navbarHomepageMenu}}
                    {{/if}}
                {{/if}}

                {{#if showSideNav}}
                    {{> sidenav}}   
                {{/if}}
            </div>
            <!-- /.container -->
        </nav>
        
        {{> errors}}
        
        {{> yield}}

    </div>

</template>