<template name="profile">
	
    <div id="container-admin">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Perfil de utilizador <small>adicionar e remover páginas</small>
                    </h1>
                </div>
            </div>
              
            <div class="row">
                <div class="col-lg-12">
            	    <div class="panel panel-default">
						<div class="panel-heading">
                        	<h4 class="panel-title">Perfil pessoal</h4>
                      	</div>
                    	<div class="panel-default">
	                        <div class="panel-body">
	                        	<p>
	                        		<div class="media">
	                              		<span class="pull-left">
	                                  		<img class="media-object" src="http://graph.facebook.com/{{currentUser.profile.fbid}}/picture" alt="">
	                              		</span>
	                              		<div class="media-body">
                                            <div>
    	                                  		<h5 class="media-heading"><strong><div id="profileName" contenteditable="true">{{currentUser.profile.name}}</div></strong></h5>
    	                                  		<p><div id="profileEmail" contenteditable="true">{{currentUser.profile.email}}</div></p>
                                            </div>
	                              		</div>
	                          		</div>
	                        	</p>
	                        	<div class="checkbox">
	                        		<label><input id="newsletter" type="checkbox" checked="{{currentUser.profile.newsletter}}" /> Quero receber informações do Cliente Satisfeito por email</label>
	                        	</div>
                                <div class="checkbox">
                                    <label><input id="newsletterSpecial" type="checkbox" checked="{{currentUser.profile.newsletterSpecial}}" /> Quero receber informações relativas a ser vendedor no Cliente Satisfeito por email</label>
                                </div>
	                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
				<div class="col-lg-12">
					<h2>Páginas </h2>
					<div class="panel-group" id="accordion">
                        {{#each currentUser.accounts}}
                            {{> profileAccount}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label><small><input id="apagarContaCheck" type="checkbox" /> Não quero que os meus clientes fiquem satisfeitos</small></label>
                    </div>
                    <button type="button" id="apagarContaButton" class="btn btn-danger btn-xs">Apagar conta</button>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
</template>