<template name="index"> 
  <div id="container-homepage">
    <div id="container-index"> 
      
      <!-- Header -->
      <div class="intro-header">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="intro-message">
                          <h1 style="font-family: 'sl';">cliente satisfeito</h1>
                          <h3>O melhor vendedor é um cliente satisfeito</h3>
                          <hr class="intro-divider">
                          <ul class="list-inline intro-social-buttons">
                              <li>
                                  <a id="login" class="btn btn-block btn-social btn btn-facebook" style="font-family: arial, sans-serif;font-weight: bold;"><i class="fa fa-facebook"></i>Iniciar sessão com Facebook</a>
                              </li>
                          </ul>
                          <h5><small>Ao iniciar sessão está a concordar com os <a data-toggle='modal' data-target='#termsofuse' style="cursor:pointer">Termos de Utilização</a></small></h5>
                          <a href="#" class="btn btn-circle wobble-vertical" id="about-btn-bottom">
                            <i class="fa fa-chevron-circle-down fa-3x"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /.container -->
      </div>
      <!-- /.intro-header -->

      <div class="content-section-b" id="about">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <img class="img-responsive center-block img-index" src="http://cdn.clientesatisfeito.pt/img/shop.jpg">
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h1>Façam dos vossos clientes, clientes satisfeitos</h1>
              <p>Manter os clientes satisfeitos é fundamental para o sucesso de qualquer empresa, mas saber se eles estão satisfeitos é mais importante ainda. Nós abrimos o canal de comunicação com o cliente: se estiverem satisfeitos, digam ao mundo; se não estiverem, digam porquê.</p>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
          </div>
        </div>
      </div>

      <div class="step-by-step" id="how">
        <div class="container">
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
              <h1>Passo a passo</h1>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1"></div>
          </div>
          <div class="row">
            <div class="board">
              <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">
                  
                  <div class="liner"></div>

                    <li class="active">
                      <a href="#ativar" data-toggle="tab" title="activar a página">
                        <span class="round-tabs one">
                          <i class="fa fa-facebook fa-2x"></i>
                        </span> 
                      </a>
                    </li>

                    <li>
                      <a href="#criar" data-toggle="tab" title="criar campanha">
                        <span class="round-tabs two">
                          <i class="fa fa-gift fa-2x"></i>
                        </span> 
                      </a>
                    </li>
                    
                    <li>
                      <a href="#informar" data-toggle="tab" title="informar o cliente">
                        <span class="round-tabs three">
                          <i class="fa fa-thumbs-up fa-2x"></i>
                        </span>
                      </a>
                    </li>

                    <li>
                      <a href="#incentivar" data-toggle="tab" title="incentivar a partilha">
                        <span class="round-tabs four">
                          <i class="fa fa-share-alt fa-2x"></i>
                        </span> 
                      </a>
                    </li>

                    <li>
                      <a href="#valorizar" data-toggle="tab" title="valorizar a marca">
                        <span class="round-tabs five">
                          <i class="fa fa-eur fa-2x"></i>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="tab-content">
                  
                  <div class="tab-pane fade in active" id="ativar">
                    <h3 class="head text-center">Ativar a página Facebook de que é administrador</h3>
                    <p class="narrow text-center">
                      Com o login integrado com o Facebook é muito fácil começar a usar a aplicação. Basta iniciar sessão e na página de perfil activar as páginas com as quais quer ter clientes satisfeitos
                    </p>
                  </div>

                  <div class="tab-pane fade" id="criar">
                    <h3 class="head text-center">Criar uma campanha ou promoção</h3>
                    <p class="narrow text-center">
                      Para valorizar a participação dos seus clientes inclua uma promoção ou campanha. A nossa filosofía é que clientes satisfeitos devem ser recompensados por serem embaixadores das marcas.
                    </p>
                  </div>

                  <div class="tab-pane fade" id="informar">
                    <h3 class="head text-center">Informar o cliente da promoção</h3>
                    <p class="narrow text-center">
                      Por cada interação do cliente, peça-lhe a sua participação. Quanto melhor conhecer os clientes mais fácil será de corresponder às suas expetativas. Adicione fotografías para personalizar a promoção
                    </p>
                  </div>

                  <div class="tab-pane fade" id="incentivar">
                    <h3 class="head text-center">Incentivar a partilha</h3>
                    <p class="narrow text-center">
                      O melhor vendedor é um cliente Satisfeito. O login integrado com o Facebook vai permitir ao cliente partilhar a sua satisfação ou explicar o que correu menos bem.
                    </p>
                  </div>

                  <div class="tab-pane fade" id="valorizar">
                    <div class="text-center">
                      <i class="img-intro icon-checkmark-circle"></i>
                    </div>
                    <h3 class="head text-center">Valorizar a sua marca</h3>
                    <p class="narrow text-center">
                      Estima-se que é 6 vezes mais barato manter um cliente do que cativar um novo. Fique a conhecer os seus clientes, satisfaça as suas expectativas e deixe que eles anunciem por si o valor da sua marca.
                    </p>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
                   

      <div class="content-section-a" id="how-2">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h1>É mais simples do que imaginam</h1>
              <p>Pode correr a aplicação no seu computador e adicionar clientes enquanto gere as encomendas , ou correr no smartphone ou Tablet na sua loja, usar a câmara para personalizar a promoção e adicionar o cliente.</p>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <img class="img-responsive center-block img-index" src="http://cdn.clientesatisfeito.pt/img/responsive.jpg">
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
          </div>
        </div>
      </div>

      <div class="content-section-b" id="why">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <img class="img-responsive center-block img-index" src="http://cdn.clientesatisfeito.pt/img/stats.jpg">
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h1>A experiência não convertida em conhecimento é apenas informação!</h1>
              <p>No painel de controlo da aplicação controla toda o conhecimento adquirido que permitirá tomar as decisões corretas. Configure alertas para ser informado de potenciais crises ou navegue na aplicação para ver os gráficos das vendas a crescer.</p>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
          </div>
        </div>
      </div>

      <div class="content-section-a" id="facebook">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h1><i>Computadores são como bicicletas para a nossa mente!</i> <small>Steve Jobs</small></h1>
              <p>O poder da recomendação de um cliente foi sempre muito considerado pelos bons gestores. Hoje em dia estima-se que mais de 2 milhões de portugueses utilizem o Facebook, sendo utilizado por 95% dos utilizadores de redes sociais. É a escolha obvia para lançamento do cliente Satisfeito, mas não única! No futuro queremos que os clientes usem a identidade virtual que prefiram: email, telefone, twitter, Google+</p>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <img class="img-responsive center-block img-index" src="http://cdn.clientesatisfeito.pt/img/sharing.jpg">
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
          </div>
        </div>
      </div>

      <div class="content-section-b" id="why-3">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <img class="img-responsive center-block img-index" src="http://cdn.clientesatisfeito.pt/img/money.jpg">
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h1>Por um Portugal onde todos os clientes sejam clientes satisfeitos</h1>
              <p>O nosso foco será sempre a satisfação dos clientes, não só dos clientes da nossa aplicação mas dos clientes dos nossos clientes. Acreditamos que apenas a completa transparencia na relação cliente-vendedor permite uma constante melhoria da satisfação dos clientes. Aos nossos clientes prometemos que não haverá nenhum cliente Satisfeito que não possa partilhar aos sete ventos a sua satisfação, enquanto prometemos aos clientes dos nossos clientes que nenhuma reclamação será esquecida.</p>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"></div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <a href="http://carlos-lebre-ribeiro.pt" target="_new">© Carlos Lebre Ribeiro, LDA</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <a data-toggle='modal' data-target='#privacypolicy' style="cursor:pointer">Política de privacidade</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <a href="mailto:info@clientesatisfeito.pt">Contacto</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="privacypolicy" tabindex="-1" role="dialog" aria-labelledby="privacypolicy" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="pendingWarning">Política de Privacidade</h4>
          </div>
          <div class="modal-body">
            <p>O uso Cliente Satisfeito pressupõe a aceitação deste Acordo de privacidade. A equipa do Cliente Satisfeito reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>
            <p>Todas as suas informações pessoais recolhidas serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível.</p>
            <p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante, pelo que todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o Cliente Satisfeito serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de Outubro de 1998 (Lei n.º 67/98).</p>
            <p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de nascimento e/ou outros.</p>
            <p><strong>Campanhas</strong></p>
            <p>Utilizamos cookies para armazenar informação relativa a quem vos indicou o Cliente Satisfeito quando visita o nosso website.</p>
            <p>Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações nas ferramentas de programas Anti-Virus. No entanto, não será possível obter informações de quem o indicou para esta aplicação</p>
            <p><strong>Campanhas</strong></p>
            <p>O Cliente Satisfeito é uma montra de campanhas de terceiros e não é responsável pelo conteúdo ou validade destas. A responsabilidade total do conteudo das campanhas é do promotor das mesmas, devidamente identificado pelo link à sua página de Facebook. Tal como o Facebook, não garantimos que o dono da página do Facebook seja o oficial representante da marca anunciada.</p>
            <p>Ao subscrever uma campanha está a aceitar partilhar os seus dados pessoais com a página promotora dessa campanha.</p>
            <p><strong>Ligações a Sites de terceiros</strong></p>
            <p>O Cliente Satisfeito possui ligações para outros sites. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.</p>
            <p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites</p>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    {{> termsofuse}}
</template>