<template name="comingSoon">
	<!-- blocking div if not a seller - temp -->
	<div id="overlay">
	</div>
	<div id="overlay-content">
		<div class="container-warning">
			<div class="media">
		        <a class="pull-left" href="#">
		          <img class="media-object img-responsive" alt="brevemente" src="/img/time.png">
		        </a>
		        <div class="media-body">
		          <h1 class="media-heading">Brevemente...</h1>
		          <h3>O Cliente Satisfeito está disponível apenas para vendedores por não existirem ainda campanhas suficientes.</h3>
		          <div class="checkbox"><label><input id="newsletter-cs" type="checkbox" checked="{{currentUser.profile.newsletter}}" /> Avisem-me por email assim que esteja disponível para mim</label></div>
		          <p><button id="admin-mode-cs" type="button" class="btn btn-default navbar-btn sign-in">Eu sou vendedor</button></p>
		        </div>
		      </div>
			
		</div>
	</div>
</template>