<template name="userProfileModal">
	<div class="modal fade" id="termsofuse" tabindex="-1" role="dialog" aria-labelledby="termsofuse" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="pendingWarning">Perfil de utilizador</h4>
	      </div>
	      <div class="modal-body">
	        <p>Bem-vindo ao Cliente Satisfeito! </p>
	        <div class="checkbox"><label><input id="newsletter-cs" type="checkbox" checked="{{currentUser.profile.newsletter}}" /> Avisem-me por email assim que esteja disponível para mim</label></div>
          	<p><button id="admin-mode-cs" type="button" class="btn btn-default navbar-btn sign-in">Eu sou vendedor</button></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" data-dismiss="modal" class="btn btn-primary">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>
</template>